*{
    margin: 0;
    padding: 0;
}

.text{
    padding: 20px;
    width: 460px;
    text-align: center;
    font-size: 25px;
    margin: 10px auto;
}

.image{
    width: 500px;
    height: 500px;
    background-size: contain;
    display:block;
    margin:auto;
}
