.App {
  text-align: center;
}


ul{
  padding: 20px;
  background-color:darkslateblue;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a{
  color: white;
  text-decoration: none;
}
