body{
    background: url('https://wallpaperaccess.com/full/5567891.jpg');
    background-size: cover;
    color: rgb(241, 228, 150);
    /* transition: all 1000ms; */
}

h1, p{
    text-align: center;
}
.game-score{
    width: clamp(650px ,900px,1000px);
    margin: auto;
}

.score{
    float: left;
}

.points{
    line-height: 100px;
    font-size: 90px;
    text-align: center;
}

.highscore{
    line-height: 250px;
    font-size: 30px;
}

.game{
    position: relative;
    float: right;
    margin: 10px auto;
    width: 650px;
    height: 480px;
    background-color: #806e9893;
    border: 5px solid #6e889879;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    perspective: 800px;
    transition: fontSize 0.5s ease-in;
}

.end{
    z-index: -1;
    position: absolute;
    top:200px;
    font-size: 0px;

}
.card{
    opacity: 50%;
    width: 150px;
    height: 150px;
    background-color: #D3D0CB;
    border: 6.25px solid #6E8898;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
}
.card:hover{
    background-color: #c2beb8;
    cursor: pointer;
}

.cardBack{
    width: 150px;
    height: 150px;
}

.cardFound{
    opacity: 0%!important;
}
