body{
    background-color: #2E5266;
    color: #E2C044;
    /* transition: all 1000ms; */
}

h1, p{
    text-align: center;
}

.game{
    margin: 10px auto;
    width: 650px;
    height: 480px;
    background-color: #6E8898;
    border: 5px solid #6E8898;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    perspective: 600px;
}

.card{
    width: 150px;
    height: 150px;
    background-color: #D3D0CB;
    border: 5px solid #6E8898;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    /* transition : background 600ms ease-in; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation: card-rotate 2s ease-in ; */

}
.card:hover{
    background-color: #c2beb8;
    cursor: pointer;
}


.cardBack{
    width: 150px;
    height: 150px;
    /* background-color: #ad7719;
    border: 5px solid #6E8898;
    border-radius: 10px; */
}

.cardFound{
    
    /* visibility: hidden; */
    /* background: transparent !important; */
    opacity: 0%;
}



/*

@keyframes bg-change {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}


.card-clicked{
    background-color: rgb(253, 253, 253);
    animation: card-rotate 500ms ease-in ;
}

.card-clicked:hover{
    background-color: rgb(253, 253, 253);
}

@keyframes card-rotate {
    0%{
        transform: rotateY(180deg);
        background-color: #D3D0CB;
    }
    100%{
        transform: rotateY(0deg);
        background-color: rgb(253, 253, 253);
    }
}

@keyframes card-rotate-back {
    0%{
        transform: rotateY(0deg);
        background-color: rgb(98, 118, 129);
    }
    100%{
        transform: rotateY(180deg);
        background-color: #457b9d;
    }
} */
