.circle{
    margin: auto;
    border-radius: 50%;
    border: 40px solid red;
    width: 355px;
    height:355px;
}

.hour-hand{
    background-color: black;
    width: 145px;
    height: 4px;
    transform-origin: left;
    transform: translate(170px,170px) rotate(180deg);
}

.min-hand{
    
    background-color: black;
    width: 155px;
    height: 3px;
    transform-origin: left;
    transform: translate(170px,170px) rotate(135deg);
}


.second-hand{
    
    background-color: black;
    width: 175px;
    height: 2.5px;
    transform-origin: left;
    transform: translate(170px,165px) rotate(90deg);
}